In [1]:
import pandas as pd

In [20]:
my_data = pd.read_csv('ecommerce _purchases')
my_data.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

### 1. Check the datatype of each column

In [10]:
my_data.dtypes

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

### 2.Check for null values in the dataset

In [15]:
my_data.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

### 3. How many rows and columns

In [18]:
my_data.shape

(10000, 14)

### 4. Higest and lowest purchase price

In [23]:
my_data['Purchase Price'].max()

99.99

In [24]:
my_data['Purchase Price'].min()

0.0

### 5. Average purchase price

In [25]:
my_data['Purchase Price'].mean()

50.34730200000025

### 6. How many people have french as thier language

In [34]:
len(my_data[my_data['Language'] == 'fr'])

1097

### 7. Job title that contain Engineer

In [53]:
len(my_data[my_data['Job'].str.contains('engineer',case=False)])

984

### 8. Find Email of the person with the IP Adress: 132.207.160.22

In [58]:
my_data[my_data['IP Address'] == '132.207.160.22']['Email']

2    amymiller@morales-harrison.com
Name: Email, dtype: object

### 9. How many people have mastercard as their card provider and made purchases above 50

In [78]:
len(my_data[(my_data['CC Provider']=='Mastercard') & (my_data['Purchase Price'] > 50)])

405

### 10. Find the Email of the person with this Credit Card:4664825258997302

In [95]:
my_data[my_data['Credit Card']==4664825258997302 ]['Email']

9992    bberry@wright.net
Name: Email, dtype: object

### 11. How many people purchase in AM and at PM

In [110]:
my_data['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### 14. How many people have credit card that expires in 2020

In [125]:
# Using my custom function

def exp_date():
    count = 0
    for date in my_data['CC Exp Date']:
        if date.split('/')[1] == '20':
            count = count+1
    print(count)

In [126]:
exp_date()

988

In [131]:
# Using my apply and lambda function
len(my_data[my_data['CC Exp Date'].apply(lambda x:x[3:]) == '20'])

988

### 15. Top five most popular email provider

In [141]:
my_data['Email'].apply(lambda x:x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64